.thumbnail img {
  max-width: 70px;
  max-height: 70px;
}

.expando img {
  max-width: 100%;
  max-height: 720px;
}

.fixed-expando {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9001;
}

.fixed-expando .controls {
  text-align: right;
}

#header-img.default-header {
  background-position: left center;
  background-image: none;
  text-align: center;
  text-indent: 0px;
  line-height: 40px;
  font-size: 12pt;
}

.sr-interest-bar {
  background-image: none;
}

.thumbnail.self {
  background-image: none;
}
