<style>.ember-app >.content .link .rank, .rank-spacer { width: 1.1ex } .ember-app >.content .link .midcol, .midcol-spacer { width: 5.1ex }</style>
<div id='siteTable' class='sitetable linklisting'>
  {{reddit-link content=link expand=true}}
</div>
<div class='commentarea'>
  <div class='panestack-title'>
    <span class='title'>all {{link.num_comments}} comments</span>
  </div>
  <div class='menuarea'>
    <div class='spacer'>
      <span class='dropdown-title lightdrop'>sorted by: </span>
      <div class='dropdown lightdrop'>
        <span class='selected'>best</span>
      </div>
      <div class='drop-choices lightdrop'>
      </div>
    </div>
  </div>
  {{#if user}}{{reply-form thing=link cancel=false}}{{/if}}
  {{reddit-listing content=comments classNames="nestedlisting"}}
</div>
